<!doctype html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!--<link href="../static/js/bootstrap.min.js" rel="stylesheet" type="text/css">&ndash;&gt;-->
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
	<meta content="width=device-width, initial-scale=1" name="viewport">


</head>

<body class="body">

	<div id="waitttAmazingLover" style="color: red; font-size:150%; display: none;position:absolute;top:55%;left:38%;padding:2px;text-align: center;width: 280px; z-index: 99;">
    <img src="https://www.w3schools.com/jquery/demo_wait.gif" width="64" height="64" style="background-position: center; opacity: 0.7;"><br>Loading...</div>


<div class="bgimage" >


	<div class="row no-marginLR">
	  <div class="col-sm-2"></div>
		  <div class="col-sm-8">
		 
			<nav class="navbar navbar-expand-lg navbar-dark bg-outline-info">
				<div class="container pt-3">
					<a class="navbar-brand text-warning font-weight-bold" href="#">Datalytics</a>
					
					<button class="navbar-toggler" data-target="navbarNav" data-toggle="collapse" type="button">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse text-center" id="navbarNav">
						
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link btn-outline-info btn-sm text-warning font-weight-bold navfont ml-5"
								   href="#">PRODUCT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link btn-outline-info btn-sm text-warning font-weight-bold navfont"
								   href="#">API’S</a>
							</li>
							<li class="nav-item">
								<a class="nav-link btn-outline-info btn-sm text-warning font-weight-bold navfont"
								   href="#">DEMO</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div align="center">
				<h1 class="heading font-wight-bold" style="color:white;">Lorem Ipsum</h1>
				<h6 class="hcaption">Get insights and valuable data from social media,
				                                              news and internet based on keywords. Plan social
				                                              media strategies and resonate your engagement rate.
				</h6>
				<button class="btn btn-primary button" type="button">Request a demo</button>
			</div>
		    <!-- search bar -->
			<form class="searchform" id="tweet_search" method="POST" name="search" role="form">
				<div class="input-group input-group-lg">
					<input aria-describedby="inputGroup-sizing-xl" aria-label="Large" class="form-control searchinput"
					       id="keyword" name="keyword" placeholder="Try searching a keyword" required type="text">
						<button class="btn btn-primary btns" type="submit" id="btnsearch">Search</button>
				</div>
			</form>
			
			<!-- search bar end -->
			
		    <!-- center heading-->
		
				<section class="py-5 text-center container >
">
					<div class="row py-lg-5">
						<div class="col-lg-6 col-md-8 mx-auto ">
							<h1 class="font-weight-bold heading headingmiddel">The power of data</h1>
							<p class="lead text-muted captionmiddel">Get insights and valuable data from social media,news and
													   internet based on keywords.</p>
						</div>
					</div>
				</section>
				
		   <!-- end center heading -->
		 
<!--card section -->
			
				<main class="cards">
							
							<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 ">
								<div class="col">
									<div class="card shadow-sm" >
										
										<div class="card-body " style="background-color:#05D1AA;">
											<h5 class="text-center text-white">For Social Media</h5>
											<p class="card-text text-center text-white">Get insights and valuable data from
											                                 social media, news and internet
											                                 based on keywords. Plan social
											                                 media strategies and resonate your.</p>
										
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card shadow-sm">
										
										<div class="card-body" style="background-color:#3293C8;">
											<h5 class="text-center text-white">For Sales & Marketing</h5>
											<p class="card-text text-center text-white">Get insights and valuable data from
											                                 social media, news and internet
											                                 based on keywords. Plan social
											                                 media strategies and resonate your</p>
										
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card shadow-sm">
										
										<div class="card-body" style="background-color:#263582;">
											<h5 class="text-center text-white">For Customer Service</h5>
											<p class="card-text text-white text-center">This is a wider card with supporting text below as
																			 a natural lead-in to
																			 additional content. This content is a little bit
																			 longer.</p>
										
										</div>
									</div>
								</div>
							
							
							</div>
					
					
					
					
				</main>
			
<!--card section end -->
			
	  </div>
	  <div class="col-sm-2"></div>
	</div>

</div>
<script>
$(document).ready(function () {
          $("#btnsearch").click(function () {
              $("#waitttAmazingLover").css("display", "block");
          });
      });

</script>
</body>
</html>